nav {
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-style: italic;
  min-height: 20vh;
}
main {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
}

button {
  margin: 0.5rem;
  border-radius: 0.5rem;
}
button:hover {
  background-color: orange;
}

.home-message {
  margin-top: 5rem;
}
.wrap-fix {
  white-space: pre-wrap;
}
.static-addon-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.static-addon-inner {
  position: absolute;
  height: 0%;
}
